html {
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
}

body {
    margin:0;
    padding:0;
    background-color: beige;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 { 
    font-size: 300px;
    color: yellow;
    display:flex;
    justify-content: center;
    
}

h2 { 

    font-size:200px;
    color: red;
    display:flex;
    justify-content: center;

}

.image_container {
        border-style: solid;
        border-color:whitesmoke;
        padding:20px;
        margin:20px;
        background: linear-gradient(to right, #ef3b36, #ffffff);
}