body {
    margin:0;
    padding:0;
    background-color: beige;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 { 
    font-size: 300px;
    color: yellow;
    display:flex;
    justify-content: center;
    
}

h2 { 

    font-size:200px;
    color: red;
    display:flex;
    justify-content: center;

}