body {
    margin: 0;
    padding:0;
    height:1200px;
    width:100%;
    background-image:url("./images/cat.jpg.");

header {
    height:100px;
    width:100%;
    color:blanchedalmond;
}

h1 {
    color: red;
}

p {
    color:white;
}