body {
    margin: 0;
    padding:0;
    height:1200px;
    width:100%;
    background-color:red;
}

header {
    height:100px;
    width:100%;
    color:blanchedalmond;
}

h1 {
    color: red;
}

p {
    color:blue;
}
